<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pipilin.system.mapper.PPayMapper">
    
    <resultMap type="PPay" id="PPayResult">
        <result property="payId"    column="pay_id"    />
        <result property="payNo"    column="pay_no"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="payType"    column="pay_type"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="payTime"    column="pay_time"    />
        <result property="refundTime"    column="refund_time"    />
        <result property="refundReason"    column="refund_reason"    />
        <result property="balanceBefore"    column="balance_before"    />
        <result property="balanceAfter"    column="balance_after"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPPayVo">
        select pay_id, pay_no, user_id, user_name, pay_amount, pay_type, pay_status, transaction_id, 
               pay_time, refund_time, refund_reason, balance_before, balance_after, 
               create_by, create_time, update_by, update_time, remark 
        from p_pay
    </sql>

    <select id="selectPPayList" parameterType="PPay" resultMap="PPayResult">
        <include refid="selectPPayVo"/>
        <where>  
            <if test="payNo != null  and payNo != ''"> and pay_no = #{payNo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectPPayByPayId" parameterType="Long" resultMap="PPayResult">
        <include refid="selectPPayVo"/>
        where pay_id = #{payId}
    </select>
        
    <insert id="insertPPay" parameterType="PPay" useGeneratedKeys="true" keyProperty="payId">
        insert into p_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payNo != null and payNo != ''">pay_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="transactionId != null">transaction_id,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="refundTime != null">refund_time,</if>
            <if test="refundReason != null">refund_reason,</if>
            <if test="balanceBefore != null">balance_before,</if>
            <if test="balanceAfter != null">balance_after,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payNo != null and payNo != ''">#{payNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="payType != null">#{payType},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="transactionId != null">#{transactionId},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="refundTime != null">#{refundTime},</if>
            <if test="refundReason != null">#{refundReason},</if>
            <if test="balanceBefore != null">#{balanceBefore},</if>
            <if test="balanceAfter != null">#{balanceAfter},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePPay" parameterType="PPay">
        update p_pay
        <trim prefix="SET" suffixOverrides=",">
            <if test="payNo != null and payNo != ''">pay_no = #{payNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="transactionId != null">transaction_id = #{transactionId},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="refundReason != null">refund_reason = #{refundReason},</if>
            <if test="balanceBefore != null">balance_before = #{balanceBefore},</if>
            <if test="balanceAfter != null">balance_after = #{balanceAfter},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where pay_id = #{payId}
    </update>

    <delete id="deletePPayByPayId" parameterType="Long">
        delete from p_pay where pay_id = #{payId}
    </delete>

    <delete id="deletePPayByPayIds" parameterType="String">
        delete from p_pay where pay_id in 
        <foreach item="payId" collection="array" open="(" separator="," close=")">
            #{payId}
        </foreach>
    </delete>
</mapper>


